* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    height: 100vh;
    background-color: peachpuff;
}

.watermark {
    position: absolute;
    font-size: 9em;
    opacity: 0.10;
    transform: translate(25%);
}

.top-content {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.head-item {
    flex: 1;
}

.header {
    flex: .4;
    color: #38598b;
    font-weight: bolder;
    font-size: 2.5em;
}

.nav {
    display: flex;
    flex: .6;
}

.nav-item {
    flex: 1;
    align-items: center;
    font-weight: bold;
    font-size: 1.25em;
    color: #38598b;
}

/* ^ Top Content Section */
.preview {
    background-color: #38598b;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.preview-left {
    flex: .4;
    font-size: 1.5em;
    color: peachpuff;
    word-wrap: break-word;
    padding-left: 10px;
}

.preview-right {
    flex: .6;
    font-size: 1.25em;
    color: white;
    word-wrap: break-word;
    padding-left: 10px;
    border-left: solid 5px peachpuff;
}

/* Layer 2 Section */
.main-content {
    display: flex;
}

.main-left {
    flex: .3;
    padding: 10px;
    border: solid 1px black;
    font-size: 1.20em;
}

.main-right {
    flex: .7;
    border: solid 1px black;
    padding: 10px;
    font-size: 1.20em;
}

/* Add-on */
.first-letter::first-letter {
    font-size: 1.4em;
    font-weight: bolder;
}

a {
    display: inline-block;
    color: green;
    text-decoration: none;
    font-size: 1.5em;
    transition: .5s linear;
    cursor: pointer;
}

a:hover {
    color: red;
    transform: scale(1.2);
    border-bottom: solid 2px red;
}

.location {
    color: red;
    border-bottom: solid 2px red;
    font-size: 1.75em;
}

/* Trial.html Styling */
.img {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #38598b;
}

.trial-main {
    padding: 10px;
}

.trial-main>h1 {
    text-align: center;
    font-size: 2em;
}
.trial-style{
    background-color: #38598b;
    color: white;
    border-radius: 15px;
    font-size: 1.15em;
}
.trial-point-header {
    display: inline-block;
    width: 25%;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: red;
}
.trial-status{
    display: inline-block;
    background-color: green;
    color: peachpuff;
    border-radius: 15px;
    font-size: 1.35em;
    text-align: center;
    width: 25%;
}
.trial-point-content{
    font-size: 1.15em;
    padding: 5px;
    margin-top: 5px;
}
#partner{
    background-color: red;
}
#completion{
    background-color: blue;
}
.upcoming{
    background-color: purple;
}