* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: peachpuff;
}

body::-webkit-scrollbar {
    display: none;
}

.watermark {
    position: absolute;
    font-size: 9em;
    opacity: 0.10;
    transform: translate(25%);
}

.top-content {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.header {
    flex: .4;
    color: #38598b;
    font-weight: bolder;
    font-size: 2.5em;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .6;
}

.nav-item {
    flex: 1;
    font-weight: bold;
    font-size: 1.25em;
    color: #38598b;
}

/* ^ Top Content Section */
.preview {
    background-color: #38598b;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: peachpuff;
}

.preview-left {
    flex: .4;
    font-size: 1.5em;
    word-wrap: break-word;
    padding-left: 10px;
}

.preview-right {
    flex: .6;
    font-size: 1.25em;
    word-wrap: break-word;
    padding-left: 10px;
    border-left: solid 5px peachpuff;
}

/* Layer 2 Section */
.main-content {
    display: flex;
    color: #44558f;
}

.main-left {
    flex: .3;
    padding: 10px;
    border: solid 1px black;
    font-size: 1.20em;
}

.main-right {
    flex: .7;
    border: solid 1px black;
    padding: 10px;
    font-size: 1.20em;
}

/* Add-on */
.important {
    color: #b83b5e;
}

.offering {
    color: #588c73;
}

.first-letter::first-letter {
    font-size: 1.4em;
    font-weight: bolder;
}

.nav-item>a {
    display: inline-block;
    color: #38598b;
    text-decoration: none;
    font-size: 1.5em;
    transition: .5s linear;
    cursor: pointer;
}

.nav-item>a:hover {
    color: red;
    border-bottom: solid 2px red;
}

#location {
    color: red;
    border-bottom: solid 2px red;
}

/* Trial.html Styling */
.img {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #38598b;
}

.trial-main>h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 3em;
    color: #005689;
    border-bottom: solid 5px orange;
}

.trial-point-header {
    text-align: center;
    margin: 0 auto;
    color: #007cb9;
    border-radius: 15px;
    font-size: 1.5em;
    font-style: italic;
    padding: 5px;
}

.trial-status {
    text-align: center;
    margin: 0 auto;
    background-color: green;
    color: peachpuff;
    border-radius: 15px;
    font-size: 1.35em;
    width: 20%;
    font-style: italic;
    margin: 0 auto;
}

.trial-point-content {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: #44558f;
    font-size: 1.15em;
    padding: 5px;
    border-bottom: solid 5px orange;
}

.partner {
    background-color: red;
}

.completion {
    background-color: blue;
}

.upcoming {
    background-color: purple;
}

/* Articles Styling */
.art-main>h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 3em;
    color: #005689;
    border-bottom: solid 5px orange;
}

.art-header {
    display: flex;
    justify-content: center;
    color: #007cb9;
    border-radius: 15px;
    font-size: 1.5em;
    font-style: italic;
    padding: 5px;
}

.art-content {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: #44558f;
    font-size: 1.15em;
    padding: 5px;
    border-bottom: solid 5px orange;
}

.poster {
    display: flex;
    justify-content: center;
    background-color: #ffc97b;
    color: #44558f;
    border-radius: 15px;
    font-size: 1.35em;
    width: 20%;
    font-style: italic;
    margin: 0 auto;
}

.link {
    color: red;
    font-size: 1em;
    text-decoration: none;
}

.link:hover {
    color: peachpuff;
}

/* GIF Animations */
/* .animation{
    animation: spins 4s linear;
    animation-iteration-count: infinite;
}
@keyframes spins {
    100%{
        transform: rotate(360deg);
    }
    66%{
        transform: translate(-25%) rotate(240deg);
    }
    33%{
        transform: translate(25%) rotate(120deg);
    }
}
.cycle-a{
    animation: Aspins 6s linear infinite;
}
@keyframes Aspins {
    66%{
        transform: translate(-15%) rotate(-180deg);
    }
    33%{
        transform: translate(20%) rotate(-90deg);
    }
}.cycle-b{
    animation: Bspins 6s linear infinite;
}
@keyframes Bspins {
    66%{
        transform: translate(-20%) rotate(60deg);
    }
    33%{
        transform: translate(20%) rotate(180deg);
    }
}.cycle-d{
    animation: Dspins 6s linear infinite;
}
@keyframes Dspins {

    66%{
        transform: translate(15%) rotate(120deg);
    }
    33%{
        transform: translate(-15%) rotate(180deg);
    }
} */
/* FREE Recofilstat */
#free {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .5;
    animation: roaming 15s linear alternate infinite;
}

@keyframes roaming {
    30% {
        transform: translate(-300%, 50%) rotate(-180deg);
    }

    60% {
        transform: translate(-200%, 400%) rotate(-360deg);
    }
}

#free2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
    animation: roaming2 15s linear alternate infinite;
}

@keyframes roaming2 {
    20% {
        transform: translate(300%, 200%) rotate(90deg);
    }

    40% {
        transform: translate(200%, 400%) rotate(180deg);
    }

    80% {
        transform: translate(50%, 0%) rotate(360deg);
    }
}
/* holders.html Section */
.holder-main{
    padding-bottom: 10px;
}
.holder-main>h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 3em;
    color: #005689;
    border-bottom: solid 5px orange;
}
.hold-content-wrapper{
    margin: 0 auto;
    width: 80%;
    display: flex;
}
.holder-content{
    text-align: center;
    height: 50px;
    border-radius: 15px;
    font-size: 1.5em;
    font-style: italic;
    padding: 5px;
}
.stacking{
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    width: 20%;
    background-color: lightgreen;
    border-right: solid 5px peachpuff;
    border-left: solid 5px peachpuff;
    color: #007cb9;
}
.shares{
    width: 50%;
    background-color: lightcyan;
    color: #007cb9;
}
.title{
    width: 30%;
    color: peachpuff;
    background-color: #5f6caf;
}
.insider{
    width: 30%;
    color: peachpuff;
    background-color: #ff5722;
}